In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import csv

In [6]:

df = pd.read_csv('all_tide_data.csv')
df.rename(columns=df.iloc[0])
df.head

<bound method NDFrame.head of          ��t  Unnamed: 1  Unnamed: 2  Unnamed: 3  Unnamed: 4  Unnamed: 5  \
0        NaN         NaN         NaN         NaN         NaN         NaN
1        NaN         NaN         NaN         NaN         NaN         NaN
2        NaN         NaN         NaN         NaN         NaN         NaN
3        NaN         NaN         NaN         NaN         NaN         NaN
4        NaN         NaN         NaN         NaN         NaN         NaN
...      ...         ...         ...         ...         ...         ...
1035523  NaN         NaN         NaN         NaN         NaN         NaN
1035524  NaN         NaN         NaN         NaN         NaN         NaN
1035525  NaN         NaN         NaN         NaN         NaN         NaN
1035526  NaN         NaN         NaN         NaN         NaN         NaN
1035527  NaN         NaN         NaN         NaN         NaN         NaN

         Unnamed: 6
0               NaN
1               NaN
2               NaN
3               NaN
4               NaN
...             ...
1035523         NaN
1035524         NaN
1035525         NaN
1035526         NaN
1035527         NaN

[1035528 rows x 7 columns]>